*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
width: 100%;
background-color: #111;
padding: 30px;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
padding: 25px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.top img{
height: 50px;
width: 50px;
border-radius: 50%;
margin: 10px;
border: 1px solid #dadada;
padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
 

}


.center h3{
  font-size:16px ;
  font-weight: 500;
}
.center h3 span{
  font-size: 8px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
 
}
.center .middle{
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
.center .middle h4{
  font-size: 13px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  margin-left: 6px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b2a7a7;
  padding-top: 15px ;
}

.bottom button{
  font-size: 10px;
  background-color: black;
  color: rgba(199, 179, 179, 0.855);
  padding: 8px;
  border-radius: 5px;
 font-weight: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: rgb(140, 130, 130);
}
